.ant-menu {
    border-radius: 4px;
}

.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
    height: 60px;
    line-height: 60px;
}

.ant-menu-inline .ant-menu-item {
    height: 60px;
    line-height: 60px;
}

.ant-menu-title-content,
.anticon {
    font-size: 20px;
}