.form {
    margin: 100px auto;
}

.img1 {
    position: absolute;
    top: 0;
    left: 0;
}

.goback_register {
    position: absolute;
    left: 750px;
    top: 650px !important;
}

.tip {
    position: absolute;
    display: none;
    left: 960px;
    top: 105px;
    line-height: 22px;
    color: #ff4d4f;
    font-size: 14px;
}