.recommend {
    background: url(../../../assets/tuijiantiji.jpg) no-repeat;
    position: relative;

    .tb_pages {
        thead {
            background: #e7ad2e;           
            border-right: 1px solid #e7ad2e; 
        }

        tbody {
            tr:nth-child(odd) td {
                background: #fafafa;
            }

            tr:nth-child(even) td {
                background: #e1e1e1;

                a {
                    color: #3a3a3a;
                }
            }
        }
    }
}